.menu-container {
  display: flex;
  background-color: #d0102d;
  position: fixed;
  border-bottom: 2px;
  border: 2px solid black;
  width: 100%;
  top: 0;
  z-index: 1000;
}
.menu-container img {
  width: 7.5rem;
}
.menu-container .nav-item {
  margin-right: 60px;
}
.menu-container .carrito:hover {
  color: white;
}
.menu-container .inicio:hover {
  color: white;
}
.menu-container .ofertas:hover {
  color: white;
}
.menu-container .ver-productos:hover {
  color: white;
}
.menu-container .menu:hover {
  color: white;
}
.menu-container .card {
  margin: auto;
  margin-top: 8%;
}
.menu-container ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  margin-left: 50%;
}
.menu-container ul li a {
  margin: 20px;
}

.carrousel-de-imagenes {
  display: flex;
  margin-top: 9%;
}

.h1-inicio {
  font-family: Arial;
  font-size: 60px;
  color: azure;
  display: flex;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Arial;
  font-size: 60px;
  color: azure;
  display: flex;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(31, 28, 28);
}

.card {
  margin: auto;
  margin-top: 8%;
}

.parrafos {
  font-family: Arial;
  font-size: 27px;
  color: azure;
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.imagen-guitarras-colgadas {
  display: flex;
  padding-top: 8.5%;
}

.imagen-guitarras-ofertas {
  display: flex;
  padding-top: 6.5%;
  width: 100%;
  height: 750px;
}

.imagen-carrito {
  width: 7rem;
  margin-right: 3%;
}

h2 {
  font-family: Arial;
  font-size: 60px;
  color: azure;
  display: flex;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.btn-outline-danger {
  margin-left: 45.3%;
  margin-top: 1%;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-family: Arial;
    font-size: 30px;
    color: azure;
    display: flex;
    margin-top: 48%;
    justify-content: center;
    align-items: center;
  }
  .h1-inicio {
    font-family: Arial;
    font-size: 30px;
    color: azure;
    display: flex;
    margin-top: 25%;
    justify-content: center;
    align-items: center;
  }
  h2 {
    font-family: Arial;
    font-size: 20px;
    color: azure;
    display: flex;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
  }
  .menu-container {
    display: flex;
    background-color: #d0102d;
    position: fixed;
    border-bottom: 2px;
    border: 2px solid black;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  header ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-left: 5%;
  }
  header ul li a {
    margin: 10px;
  }
  .carrousel-de-imagenes {
    display: none;
  }
  .imagen-guitarras-colgadas {
    display: flex;
    padding-top: 6.5%;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .imagen-guitarras-ofertas {
    display: flex;
    padding-top: 6.5%;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .card {
    flex: 0 0 50%;
    margin-top: 8%;
  }
  .btn {
    margin-left: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
