$margin-top: 8%;
$margin-left: 20%;
@media only screen and (max-width : 1328px){
    .nav-item{
        margin-right: 0%;
        margin-left: 95px;
       }
    }
@media only screen and (max-width : 500px){

    
    @mixin estiloTexto($family, $size, $color){
        font-family: $family;
        font-size: $size;
        color: $color;
    }
    @mixin flex($flex,$margin, $centro, $alinear){
        display: $flex;
        margin-top: $margin;
        justify-content: $centro;
        align-items: $alinear;
    }
    @mixin flexHeader($flex, $fixed, $top, $width, $z-index,$wrap){
        display: $flex;
        position: $fixed;
        top: $top;
        width:$width ;
        z-index: 1000 ;
        flex-wrap: $wrap;
 }
    @mixin imagenes($flex,$padding-top,$wrap,$width,$heigth){
        display: $flex;
        padding-top: $padding-top;
        flex-wrap: $wrap;
        width: $width;
        height: $heigth;
    }
    
    
    h1{
        @include estiloTexto(Arial,30px ,azure);
        @include flex(flex,48% , center,center )

    }

    .h1-inicio{
        @include estiloTexto(Arial,30px ,azure);
        @include flex(flex,25% ,center, center);

    }

    h2{
        @include estiloTexto(Arial,20px ,azure);
        @include flex(flex, 10%,center , center);
    }
    header{
        @include flexHeader(flex,fixed , 0, 100%, 1000,wrap);
    }
   
    

   .nav-item{
    margin-left: 0%;
   }
  
    .carrousel-de-imagenes{
        display: none;

    }
   .imagen-guitarras-colgadas{
    @include imagenes(flex, 6.5%, wrap, 100%, 100%);
    }
    
    .imagen-guitarras-ofertas{
        @include imagenes(flex, 6.5%, wrap, 100%, 100%);
    }
    .card{
        flex: 0 0 50%;
        margin-top: $margin-top;

    }
    .btn{
    margin-left: $margin-left;
    } 
}