.menu-container{

    display: flex;
    background-color: #d0102d;
    position: fixed;
    border-bottom: 2px;
    border: 2px solid black;
    width: 100%;
    top:0;
    z-index: 1000; 
   
    img{
        width: 7.5rem
    }

    
    .nav-item{
         margin-right: 60px;
    }
    .carrito:hover{
        color: white;
    }
    .inicio:hover{
        color: white;
    }
    .ofertas:hover{
        color: white;
    }
    .ver-productos:hover{
        color: white;
    }
    .menu:hover{
        color: white;
    }
    .card{
        margin: auto;
        margin-top: 8%;
    
    }

        ul{

            list-style-type: none;
             display: flex;
            margin: 0px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            align-items: center;
            margin-left: 50%;
    
             li     
                 a{
                    margin: 20px
             }
            }
        }

                
    