@mixin estilosTexto($family, $size, $color){
    font-family: $family;
    font-size: $size;
    color: $color;
}
@mixin flex($flex,$margin, $centro, $alinear){
    display: $flex;
    margin-top: $margin;
    justify-content: $centro;
    align-items: $alinear;
}

h2{
    @include estilosTexto(Arial, 60px,azure );
    @include flex(flex, 5%,center ,center );
}
