@mixin estiloTexto($family, $size, $color){
    font-family: $family;
    font-size: $size;
    color: $color;
}
@mixin flex($flex, $margin-top, $align, $center){
    display: $flex;
    margin-top: $margin-top;
    align-items:$align ;
    justify-content: $center;
}
.parrafos{
    @include estiloTexto(Arial,23px ,azure );
    @include flex(flex, 70px, center , center );
       &:hover{ 
        color:#d0102d;
       }
    }