#guitarras-electricas h1{
    margin-top: 200px;
    margin-bottom: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 4.5rem;
    color: aliceblue;
}

.parrafos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 50px;
    color: azure;
    display: flex;
    align-items: center;
}

#guitarras ul{
    list-style: disc;
    font-style: oblique;
    text-align: justify ;
}
.imagenGuitarra{
    width: 100%;
    height: 100%;

}
.nav-item{
    margin-right: 60px;
}
body{
    background-color: rgb(31, 28, 28);
}
.menu-container{

    display: flex;
    background-color: #d0102d;
    position: fixed;
    border-bottom: 2px;
    border: 2px solid black;
    width: 100%;
    top:0;
    z-index: 1000; 

}


header ul{

    list-style-type: none;
    display: flex;
    margin: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-left: 50%;
}
header ul li a{

    margin: 20px

}

header img{
    width: 7.5rem
}

.logoIg{
    display: flex;
    width: 40px;
    height: 40px;
    margin-left: 130px;

}
.menuHamburguesa{
    display: flex;
    width: 140px;
    height: 70px;
    padding-left: 50%;
    box-sizing: none;
}
.wpIcon{
    display: flex;
    width: 80px;
    height: 50px;
    padding-left: 40%;

}

.carrito:hover{
    color: white;
}
.inicio:hover{
    color: white;
}
.ofertas:hover{
    color: white;
}
.ver-productos:hover{
    color: white;
}
.menu:hover{
    color: white;
}
.card{
    margin: auto;
    margin-top: 6.5%;

}
@media only screen and (max-width : 500px){
    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        margin-top: 10%;
        color: azure;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        margin-top: 10%;
        color: azure;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-container{

        display: flex;
        background-color: #d0102d;
        position: fixed;
        border-bottom: 2px;
        border: 2px solid black;
        width: 100%;
        top:0;
        z-index: 1000; 

    }


    header ul{

        list-style-type: none;
        display: flex;
        margin: 0px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        margin-left: 5%;
    }

    header ul li a{

        margin: 10px

    }


    .card{
        flex: 0 0 50%;
        margin-top: 8%;

    }
}