$margin: auto;
$margin-top: 8%;

.card {
    margin: $margin;
    margin-top: $margin-top;
    box-shadow: 21px 32px 16px 9px rgba(10, 10, 10, 0.85);
    -webkit-box-shadow: 21px 32px 16px 9px rgba(0,0,0,0.85);
    -moz-box-shadow: 21px 32px 16px 9px rgba(0,0,0,0.85);
    
}   
