 $background-color :  #d0102d;
 $border : 2px solid black;
 $border-bottom : 2px;
 $margin-left : 195px;
 
 @mixin estiloTexto($family, $size, $color){
    font-family: $family;
    font-size: $size;
    color: $color;
 }
 @mixin flex($flex, $fixed, $top, $width, $z-index,$wrap){
        display: $flex;
        position: $fixed;
        top: $top;
        width:$width ;
        z-index: 1000 ;
        flex-wrap: $wrap;
 }
    header{
        @include flex(flex,fixed , 0, 100%, 1000,wrap);
        background-color: $background-color;
        border: $border;
        border-bottom: $border-bottom;
    }
    
    img{
        width: 7.5rem;
    }
         .nav-item {
            @include estiloTexto(Arial, 20px, black);
             margin-left: $margin-left;
             margin-right: 0%;
             flex-wrap: wrap;
     }
    

    .carrito:hover{
        color: white;
    }
    .inicio:hover{
        color: white;
    }
    .ofertas:hover{
        color: white;
    }
    .ver-productos:hover{
        color: white;
    }
    .menu:hover{
        color: white;
    }
