$margin-left: 45.3%;
$margin-top: 1%;

.btn-outline-danger{
    margin-left: $margin-left;
    margin-top: $margin-top;
   
}
.logo-wpp{
    position: fixed;
    right: 3px;
    bottom:25px;
    width: 4rem;

    transition:1s;
    &:hover{
        transform: rotate(360deg);
    }
}
.boton-cards{
    margin-left: 0 ;
}

    